
body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 0px auto;
  width: 100%;
}

.container > h1 {
  font-family: Helvetica;
  font-size: 1.4em;
  margin: 30px 0;
  letter-spacing: .2em;
  text-align:center;
  text-transform: uppercase;
}

.preview h1  {
  font-family: sans-serif;
  font-size: 2.4em;
  padding: 10%;
  text-align: left;
}

.preview {
  height:300px;
  margin: 2em 0;
  width: 100%;
  background-size: cover;
  background-position: left;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);

}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}


/***Larger than 575px***/
@media screen and (min-width:575px) {
  .container {
    width: 80%;
  }

  .preview {
    float: left;
    margin: 1%;
    width: 48%;
    height: 200px;
  }
}


/**Screen is large than 991px**/
@media screen and (min-width: 991px) {
  .container {
    width: 20%;
}
    .preview {
      float: left;
      margin: 1%;
      width: 23%;
      height: 200px;
    }
  }
